<strong>Olá, {{ student }}</strong>
<p>Confira abaixo a resposta para o seu pedido de auxílio:
<br /><br />
<strong>Pergunta: </strong> {{ question }} <br />
<strong>Resposta: </strong> {{ answer }} <br />
</p>
