<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo à GymPoint!</p>
<p>
  Sua matrícula na GymPoint foi realizada com sucesso. <br />
  <br />
  Confira os dados da sua matrícula: <br />
  <strong>Plano: </strong> {{ plan }}<br />
  <strong>Data de término: </strong> {{ end_date }}<br />
  <strong>Valor total: </strong> R$ {{ price }}
</p>
